---
import Toggle from './ThemeToggler.astro'
---
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Abous us</a></li>
        <li><a href="/use-case">Use cases</a></li>
        <li><a href="/learn">Learn</a></li>
    </ul>
    <Toggle />
</nav>

<style>
    nav{
        display: flex;
        align-items: center;
        padding: 2rem 0;
    }

    ul{
        display:flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto 0 0;
    }
    nav li{
        opacity: 0.8;
        list-style: none;
        font-size: 0.95rem;
    }
    a{
        padding: 0.5rem 1rem;
        border-radius: 10px;
        text-decoration: none;
        color: var(--grey-400);
    }
    a:hover{
        color: var(--grey-900);
    }
    a.active{
        background: var(--grey-900);
        color: var(--background);
    }
</style>

<script>
    const pathname = window.location.pathname;
    const link = document.querySelector(`nav a[href="${pathname}"]`);
    //nav a[href="${pathname}"] нь nav элемент дотор байгаа, href аттрибут нь одоогийн pathname-тай яг адилхан байгаа a элементийг хайна.
    if(link){ //Хэрэв тохирох холбоос олдвол (null биш бол), дараах үйлдлийг гүйцэтгэнэ.
        link.classList.add('active');
    }
</script>